.myclass-list-record{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
}
.myclass-list-record > div{
    width: 200px;
}

.myclass-list-record > div{
    width: 200px;
}
.button-details {
    margin-right: 10px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-details:hover {
    background-color: #f08214;
}

.button-delete {
    margin-right: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}