
.myclass-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.myclass-title{
    display: block;
    margin: 3rem;

}
.myclass-title::after {
    content: '';
    display: flex;
        margin: 0 auto;
    width: 400px;
    height: 3px;
    background-color: #ff8c00;
}
.myclass-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.myclass-list-container{
    display: block;
    height: 300px;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
