.create-container {
    max-width: 60%;
    margin: 3rem auto;
    justify-content: center;
    text-align: center;
    
}

.create-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.create-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.create-title::after {
    content: '';
    display: block;
    width: 400px;
    height: 3px;
    margin: 1rem auto;
    background-color: #ff8c00;
}
.button-container {
    display: block;
    margin: 0 auto !important;
    padding: 1rem 0;
    text-align: center;

}

.btn-create {
    margin: 1.5rem;
    font-size: 18px;
    background-color: #ff8c00;    
    border-color:#ff8c00;  
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;

    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: #f04714;
  
    }
    cursor: pointer;


}

.btn-cancel {
    font-size: 18px;
    background-color: #ff8c00;    
    border-color:#ff8c00;  
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;

    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: #f04714;
  
    }
    cursor: pointer;


}
