
.ccc {
    background-color: black;
    display: flex;
   flex-direction: column;

}

.ccc span {
    color: white;
    opacity: 70%;
}

.ccc i {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(239,143,0);
}